.page-header: h1 Disclaimer
p
  |
    Access to this web site and use of the service offered
    by <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
    are at your discretion and at your sole
    risk. In accessing this web site and making use of the service offered
    you accept whatever risk may be involved.

p
  |
    <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a> takes what it considers to be appropriate
    precautions for the safekeeping and integrity of data that may be accessed
    and used for the purpose of delivering the service offered but disclaims,
    to the maximum extent allowed under applicable law, all liability arising
    out of your access to this web site and/or use your use of the
    service offered. This disclaimer extends to and includes (but is not limited to)
    liability for any loss of, or unauthorised third party access to, proprietary
    confidential data, and to any infection or corruption of data or systems,
     caused by any form of malware.

p
  |
    This document (including any links and or attachments) and the information
    contained on <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a> are intended solely for the users
    of this service. Part or all of the information contained on
    <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a> is confidential and may contain legally
    privileged information. No person, organisation or entity other than persons
    using this service (and the information) for the intended purpose may use,
    copy or distribute any part of the information contained on
    <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>



