.row
  .col-md-8
    .page-header
      h1 Disclaimer

    p
      |
        Access to&nbsp;this web site and use of&nbsp;the service offered
        by&nbsp;<a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
        are at&nbsp;your discretion and at&nbsp;your sole
        risk. In&nbsp;accessing this web site and making use of&nbsp;the service offered
        you accept whatever risk may be&nbsp;involved.

    p
      |
        <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a> takes what it&nbsp;considers to&nbsp;be&nbsp;appropriate
        precautions for the safekeeping and integrity of&nbsp;data that may be&nbsp;accessed
        and used for the purpose of&nbsp;delivering the service offered but disclaims,
        to&nbsp;the maximum extent allowed under applicable law, all liability arising
        out of&nbsp;your access to&nbsp;this web site and/or use your use of&nbsp;the
        service offered. This disclaimer extends to&nbsp;and includes (but is&nbsp;not limited&nbsp;to)
        liability for any loss&nbsp;of, or&nbsp;unauthorised third party access&nbsp;to, proprietary
        confidential data, and to&nbsp;any infection or&nbsp;corruption of&nbsp;data or&nbsp;systems,
        caused by&nbsp;any form of&nbsp;malware.

    p
      |
        This document (including any links and or&nbsp;attachments) and the information
        contained on&nbsp;<a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a> are intended solely for the users
        of&nbsp;this service. Part or&nbsp;all of&nbsp;the information contained on&nbsp;<a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a> is&nbsp;confidential and may contain legally
        privileged information. No&nbsp;person, organisation or&nbsp;entity other than persons
        using this service (and the information) for the intended purpose may use,
        copy or&nbsp;distribute any part of&nbsp;the information contained on&nbsp;<a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
  .col-md-4
