.page-header: h1 Privacy Policy
h2 Summary
p
  |
    This statement discloses our information gathering and dissemination practices
    for this site. <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
    and its officers are subject to the Commonwealth Privacy Act 1988.

h2 Information Collection and Privacy Protection
p
  |
    <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
    makes every effort to adhere to the Commonwealth Privacy Act 1988.
    If you have any privacy concerns, you should direct them to the
    <a href="mailto:service@sellitswapitbuyit.com.au">service@sellitswapitbuyit.com.au <a href=" www.sellitswapitbuyit.com.au"> www.sellitswapitbuyit.com.au</a>
p
  |
    will not attempt to identify anonymous users or their browsing activities
    unless legally compelled to do so, such as in the event of an investigation,
    where a law enforcement agency may exercise a warrant to inspect the log files.

h2 Provision of email addresses 
p
  |
    Feedback from you improve the service offered by <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
    will only be recorded your email address if you send us a message or provide
    it to us with any content contributions or feedback in any parts of
    <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
    it will only be used for the purpose for which you have provided it and will
    not be added to a mailing list without your permission. We will not use your
    email address for any other purpose, and will not disclose it without your consent.
    Users should be aware that there are inherent risks transmitting information across the Internet.
    This site does not provide facilities or a guarantee for the secure
    transmission of information across the Internet.

h2 Links to other sites
p
  |
    This web site contains links to other sites. <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
    is not responsible for the content and the privacy practices of other web
    sites and encourages you to examine each site's privacy policies.

h2 Security Level
p
  |
    Every endeavour is made to ensure that this site is secure. However,
    users should be aware that the World Wide Web is an insecure public network
    that gives rise to a potential risk that a user's transactions are being viewed,
    intercepted or modified by third parties or that files which the user downloads
    may contain computer viruses or other defects. <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
    accepts no liability for any interference with or damage to a user's computer
    system, software or data occurring in connection with this web site. Users
    are encouraged to take appropriate and adequate precautions to ensure that
    whatever is selected from this site is free of viruses or other contamination
    that may interfere with or damage the user's computer system, software or
    data. You should make your own assessment of the potential risks to the
    security of the information you send when deciding whether or not to
    communicate by the Internet.

h2 Personal Information 
p
  |
    Information provided by <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
    will wheresoever possible comply with the Commonwealth Privacy Act 1988
    regarding the publication of personal information about individuals on the web.

h2 Queries, Concerns and Further Information
p
  |
    If you have any queries, concerns or require further information relating to
    privacy and <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
    you are invited to contact us at <a href="mailto:service@sellitswapitbuyit.com.au">service@sellitswapitbuyit.com.au</a> 
