.page-header
  h1 Privacy Policy
  h2 Summary
.col-md-8
    p
      |
        This statement discloses our information gathering and dissemination practices
        for this site. <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
        and its officers are subject to&nbsp;the Commonwealth Privacy Act 1988.

    h2 Information Collection and Privacy Protection
    p
      |
        <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
        makes every effort to&nbsp;adhere to&nbsp;the Commonwealth Privacy Act 1988.
        If&nbsp;you have any privacy concerns, you should direct them to&nbsp;the
        <a href="mailto:service@sellitswapitbuyit.com.au">service@sellitswapitbuyit.com.au <a href=" www.sellitswapitbuyit.com.au"> www.sellitswapitbuyit.com.au</a>
    p
      |
        will not attempt to&nbsp;identify anonymous users or&nbsp;their browsing activities
        unless legally compelled to&nbsp;do&nbsp;so, such as&nbsp;in&nbsp;the event     of&nbsp;an&nbsp;investigation,
        where a&nbsp;law enforcement agency may exercise a&nbsp;warrant to&nbsp;inspect the log files.

    h2 Provision of email addresses 
    p
      |
        Feedback from you improve the service offered by&nbsp;<a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
        will only be&nbsp;recorded your email address if&nbsp;you send&nbsp;us a&nbsp;message or&nbsp;provide
        it&nbsp;to&nbsp;us with any content contributions or&nbsp;feedback in&nbsp;any parts of
        <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
        it&nbsp;will only be&nbsp;used for the purpose for which you have provided it&nbsp;and will
        not be&nbsp;added to&nbsp;a&nbsp;mailing list without your permission. We&nbsp;will not use your
        email address for any other purpose, and will not disclose it&nbsp;without your consent.
        Users should be&nbsp;aware that there are inherent risks transmitting information across the Internet.
        This site does not provide facilities or&nbsp;a&nbsp;guarantee for the secure
        transmission of&nbsp;information across the Internet.

    h2 Links to other sites
    p
      |
        This web site contains links to&nbsp;other sites. <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
        is&nbsp;not responsible for the content and the privacy practices of&nbsp;other web
        sites and encourages you to&nbsp;examine each site&rsquo;s privacy policies.

    h2 Security Level
    p
      |
        Every endeavour is&nbsp;made to&nbsp;ensure that this site is&nbsp;secure. However,
        users should be&nbsp;aware that the World Wide Web is&nbsp;an&nbsp;insecure public network
        that gives rise to&nbsp;a&nbsp;potential risk that a&nbsp;user&rsquo;s transactions are being viewed,
        intercepted or&nbsp;modified by&nbsp;third parties or&nbsp;that files which the user downloads
        may contain computer viruses or&nbsp;other defects. <a href="www.sellitswapitbuyit.com.au"> www.sellitswapitbuyit.com.au</a>
        accepts no&nbsp;liability for any interference with or&nbsp;damage to&nbsp;a&nbsp;user&rsquo;s computer
        system, software or&nbsp;data occurring in&nbsp;connection with this web site. Users
        are encouraged to&nbsp;take appropriate and adequate precautions to&nbsp;ensure that
        whatever is&nbsp;selected from this site is&nbsp;free of&nbsp;viruses or&nbsp;other contamination
        that may interfere with or&nbsp;damage the user&rsquo;s computer system, software or
        data. You should make your own assessment of&nbsp;the potential risks to&nbsp;the
        security of&nbsp;the information you send when deciding whether or&nbsp;not to
        communicate by&nbsp;the Internet.

    h2 Personal Information 
    p
      |
        Information provided by&nbsp;<a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
        will wheresoever possible comply with the Commonwealth Privacy Act 1988
        regarding the publication of&nbsp;personal information about individuals on&nbsp;the web.

    h2 Queries, Concerns and Further Information
    p
      |
        If&nbsp;you have any queries, concerns or&nbsp;require further information relating to
        privacy and <a href="www.sellitswapitbuyit.com.au">www.sellitswapitbuyit.com.au</a>
        you are invited to&nbsp;contact&nbsp;us at&nbsp;<a href="mailto:service@sellitswapitbuyit.com.au"> service@sellitswapitbuyit.com.au</a>
.col-md-4
