.offers
  .list-group-item
    padding: 0
  .search
    border-bottom: 2px #ddd solid

    .form-group
      display: inline-block
      margin-right: 10px
    .address
      width: 100%

    .field-input
      height: 34px

    .price-range
      width: 100%
      .price-min, .price-max
        width: 150px
        display: inline-block
      .price-min
        margin-right: 7px

  .pagination
    background: white
    cursor: default
    a, span, em
      padding: 0.2em 0.5em
      display: block
      float: left
      margin-right: 1px
    .disabled
      color: #999999
      border: 1px solid #dddddd
    .current
      font-style: normal
      font-weight: bold
      background: #0275d8
      color: white
      border: 1px solid #0275d8
    a
      text-decoration: none
      color: #105cb6
      border: 1px solid #9aafe5
      a:hover, a:focus
        color: #000033
        border-color: #000033
    .page_info
      background: #2e6ab1
      color: white
      padding: 0.4em 0.6em
      width: 22em
      margin-bottom: 0.3em
      text-align: center
      b
        color: #000033
        background: #6aa6ed
        padding: 0.1em 0.25em
    *:after
      content: "."
      display: block
      height: 0
      clear: both
      visibility: hidden
    * html
      height: 1%
    *:first-child + html
      overflow: hidden

  .add-offer
    text-align: center

  .offer
    width: 100%
    .offer-image
      height: 150px
      width: 30%
      background-position: center
      background-repeat: no-repeat
    .offer-info-left
      width: 50%
      .property-params
        td
          width: 110px
      table
        border: none
        .floor-area
          float: left
          width: 50%
        .land-area
          float: right
          width: 50%
    .offer-info-right
      width: 20%
      text-align: right
      .badge
        font-size: 70%
      p:first-of-type
        margin: 0 !important

  .create-offer
    margin-top: 10px

  .pagination
    margin-top: 1rem

