.offer-show
  .card
    padding: 5px
  .offer-user
    border-top: 1px solid #ddd
  .header
    .h4
      display: inline-block
  .offer-description, .offer-info
    display: inline-block
  .offer-info
    float: right
