.offer-show
  .card
    padding: 5px
  .header
    .h4
      display: inline-block
    .btn-sm
      margin-left: 2rem
  .card
    border: none
  .offer-description
    margin-right: 10px
    width: 80%
  .offer-info
    width: 20%
  .offer-user
    width: 30%
  .offer-description, .offer-info
    display: inline-block
  .offer-info
    float: right
  .property-features
    .params
      width: 150px
      float: left
      margin-right: 10px
    .area
      width: 180px
      float: left
      margin-right: 10px
    .additional
      width: 145px

    .params, .area, .additional
      .list-group-item
        padding: 0 1rem

  .offer-owner-contact
    .field-with-errors
      border-color: #f00
