.offer_form
  .field_with_errors
    input, textarea
      border-color: #f00

  .error-msg
    color: #f00

  .gmap
    height: 500px

  .images
    .thumb
      height: 75px
      border: 1px solid #000
      margin: 10px 5px 0 0

  .property-type, .dates-period
    .checkbox
      display: inline-block
      border: 1px solid #ddd
      padding: 3px
      margin: 0 5px 5px 0

  .quantity
    input
      width: 70px

  .price-field
    width: 110px
  .description-field
    width: 400px
  .address-field
    width: 500px
