.offer_form
  .field_with_errors
    input, textarea
      border-color: #f00

  .error-msg
    color: #f00

  .gmap
    height: 500px

  .images
    .thumb
      height: 75px
      border: 1px solid #000
      margin: 10px 5px 0 0
